/* range input css for ol */
input.dl-opacity-input-range[type=range] {
  height: 12px;
  -webkit-appearance: none;
  margin: 0 0 5px 0;
  width: 100%;
  background-color: transparent;
}
input.dl-opacity-input-range[type=range]:focus {
  outline: none;
}
input.dl-opacity-input-range[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #4d74a1;
  background: #7697bd;
  border-radius: 2px;
  border: 0px solid #000000;
}
input.dl-opacity-input-range[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #4d74a1;
  height: 7px;
  width: 15px;
  border-radius: 2px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input.dl-opacity-input-range[type=range]:focus::-webkit-slider-runnable-track {
  background: #7697bd;
}
input.dl-opacity-input-range[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #4d74a1;
  background: #7697bd;
  border-radius: 2px;
  border: 0px solid #000000;
}
input.dl-opacity-input-range[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #4d74a1;
  height: 7px;
  width: 15px;
  border-radius: 2px;
  background: #FFFFFF;
  cursor: pointer;
}
input.dl-opacity-input-range[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input.dl-opacity-input-range[type=range]::-ms-fill-lower {
  background: #7697bd;
  border: 0px solid #000000;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #4d74a1;
}
input.dl-opacity-input-range[type=range]::-ms-fill-upper {
  background: #7697bd;
  border: 0px solid #000000;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #4d74a1;
}
input.dl-opacity-input-range[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #4d74a1;
  height: 7px;
  width: 15px;
  border-radius: 2px;
  background: #FFFFFF;
  cursor: pointer;
}
input.dl-opacity-input-range[type=range]:focus::-ms-fill-lower {
  background: #7697bd;
}
input.dl-opacity-input-range[type=range]:focus::-ms-fill-upper {
  background: #7697bd;
}

/* end of range input css for ol */


.dl-opacity-slider {
   width: 40px;
   color: #4d74a1;
}
.dl-opacity-control {
   top: 80px;
   left: 8px;
   font-size: 8pt;
   font-weight: normal;
}
.dl-progress-control {
   top: 0;
   left: 0;
   height: 6px;
   border-radius: 0;
   margin: 0;
   padding: 0;
   background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
   background-color: rgba(0,60,136,.6);
   background-size: 1rem 1rem;
   -webkit-animation: progress-bar-stripes 1s linear infinite;
   animation: progress-bar-stripes 1s linear infinite;
}

@-webkit-keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}
@keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}

.ol-dragbox {
        background-color: rgba(255,255,255,0.2);
        border-color: rgba(255,255,255,0.8);
}
.ol-popup {
  position: absolute;
  background-color: rgba(255,255,255,.85);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 5px;
  bottom: 12px;
  left: -50px;
  min-width: 200px;
  border: 1px solid rgba(0,60,136,.3);

}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: rgba(255,255,255,.85);
  border-width: 10px;
  left: 50px;
  margin-left: -10px;
}
.ol-popup:before {
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
  border-top-color: rgba(0,60,136,.3);
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  color: rgba(0,60,136,.3);
}

.dl-layer-loading.dl-layer-error {
  color: red;
  animation: none;
}
.dl-layer-loading {
  animation: blinker 0.3s linear infinite;
}
.dl-layer-error {
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.dl-map-progress-wrapper {
        position: relative;
}
.dl-map-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background: rgba(0,60,136,.6);
        width: 0%;
        /*transition: width 25ms;*/
}
